body {
    height: 5000px;
}
.up {
    position: fixed;
    right: -40px;
    bottom: 10px;
    background-color: #303f9f;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 10px;
    font-family: Arial, Tahoma;
    cursor: pointer;
    transition: 0.2s;
}
.up.show {
    right: 10px;
}